.FishGrid__Grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.FishGrid__Toolbar {
  display: none;
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  width: 100%;
}

@media (min-width: 481px) {
  .FishGrid__Grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 769px) {
  .FishGrid__Grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1025px) {
  .FishGrid__Grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}