#Overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--color-overlay);
  visibility: hidden;
  opacity: 0;
  z-index: 10;
  transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
#Overlay.is-visible {
  visibility: visible;
  opacity: 1;
}