.Create {
  max-width: 480px;
  margin: auto;
}

.Create__Form {
  padding: 1rem 0 2rem;
}

.Create__InputRow {
  padding: 1rem 0;
  display: flex;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 0.25rem;
}
.Create__InputRow input[type="file"] {
  display: none;
}

.Create__InputLabel {
  padding: 0.5rem 0;
}

.Create__InputText, .Create__InputDate {
  background-color: var(--color-background-secondary);
  border-radius: var(--border-radius);
  width: 100%;
  padding: 0.5rem;
}

.Create__InputCheckbox {
  border: 1px solid var(--color-border);
  width: 1rem;
  height: 1rem;
  margin: 0.75rem;
  position: relative;
  cursor: pointer;
}
.Create__InputCheckbox::before {
  content: "";
  position: absolute;
  top: -0.7rem;
  right: -0.7rem;
  bottom: -0.7rem;
  left: -0.7rem;
}

.Create__SelectWrapper {
  position: relative;
}

.Create__Select {
  position: absolute;
  top: 100%;
  background-color: var(--color-background-highlight);
  border-radius: var(--border-radius);
  width: 100%;
  padding: 0.25rem 0.5rem;
  max-height: 104px;
  overflow-y: auto;
}
.Create__Select[aria-hidden="true"] {
  display: none;
}

.Create__RadioGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.Create__InputRadio {
  display: none;
}

.Create__RadioButton {
  padding: 0.5rem;
  background-color: var(--color-background-secondary);
  border-radius: var(--border-radius);
  display: flex;
  flex-wrap: nowrap;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.Create__RadioButton.selected {
  background-color: var(--color-background-highlight);
}

.Create__Icon {
  width: 24px;
  height: 24px;
  color: var(--color-dark-blue);
}

.Create__ButtonRow {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}

.Create__Image {
  width: 100%;
  border-radius: var(--border-radius);
  margin-bottom: 1rem;
  object-fit: contain;
}

.Create__FileInputLabel {
  background-color: var(--color-secondary);
  color: var(--color-text-light);
  padding: 0.25rem 1rem;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.Create__FileInputWrapper {
  height: fit-content;
}
.Create__FileInputWrapper:not(.Create__FileInputWrapper--hasImage) {
  height: 2.5rem;
  display: flex;
  align-items: center;
}